@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about this workshop at <a href="https://github.com/adntobias/Development-Praxisworkshop">ADN Distribution</a>.</p>
</div>

