@page
@model OneDriveFilesModel

@{
    ViewData["Title"] = "OneDrive"; 
}
<link rel="stylesheet" href="~/css/gallery.css" />
<h1>@ViewData["Title"]</h1>


<h2>OneDrive files</h2>

@foreach (DriveItem file in @Model._files)
{
    <div class="responsive">
        <div class="gallery">
            <div class="desc">@file.Name</div>
        </div>
    </div>
}
<div class="clearfix"></div>
