@page
@model OneDriveFilesModel
@using System.Security.Claims
@using Microsoft.Graph;

@{
    ViewData["Title"] = "OneDrive"; 
}
<link rel="stylesheet" href="~/css/gallery.css" />
<h1>@ViewData["Title"]</h1>


<h2>OneDrive files</h2>

<div class="clearfix"></div>
