@page "/SignedOut"
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = "Signed Out";
}

<h1>Successfully signed out</h1>
@{
    Response.Redirect("/Index");
}

