@page
@model AuthStartModel
@{
    ViewData["Title"] = "Authentication";
}

<h1 class="text-danger">Authentication Start.</h1>
<h2 class="text-danger">You used AUTHENTICATION!</h2>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>

}