<form  method="post" class="mb-3">
  <div class="mb-3">
    <label for="todolistname" class="form-label">ToDo List Name</label>
    <div id="todoHelp" class="form-text">Create a new ToDo List</div>
    <input type="text" class="form-control" id="todolistname" aria-describedby="todolistHelp" name="todolistname">
    <button type="submit" class="btn btn-primary" asp-page-handler="CreateToDoList">Create new list</button>
  </div>
</form>