name: .NET Core CI

on: [push]

env:
  AZURE_WEBAPP_NAME: developmentworkshop
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '5.0.x'
  AZURE_FUNCTION_NAME: wrkshpfunc
  AZURE_FUNCTION_PACKAGE_PATH: '.'
  DOTNET_VERSION_FUNCTION: '3.1.x'

jobs:
  buildFrontend:
    environment: DevWorkshop
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
          include-prerelease: true

      - name: Build with dotnet
        run: dotnet build Frontend --configuration Release

      - name: dotnet publish
        run: dotnet publish Frontend -c Release -o ${{env.AZURE_WEBAPP_PACKAGE_PATH}}/myapp

      #- name: Upload artifact for deployment job
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: .net-app
      #    path: ${{env.AZURE_WEBAPP_PACKAGE_PATH}}/myapp

      - name: "Package content"
        run: |
          Get-ChildItem ${{env.AZURE_WEBAPP_PACKAGE_PATH}}/myapp | Compress-Archive -Destination ${{env.AZURE_WEBAPP_PACKAGE_PATH}}/myapp/app.zip
          shell: pwsh
  
  deployWebApp:
    runs-on: windows-latest
    needs: buildFrontend
    environment:
      name: 'DevWorkshop'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'developmentworkshop'
          slot-name: 'production'
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          package: ${{env.AZURE_WEBAPP_PACKAGE_PATH}}/myapp/app.zip
  
  
  frontend:
    if: ${{ false }}
    environment: DevWorkshop
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@main
      
      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
      
      # Run dotnet build and publish
      - name: dotnet build and publish
        working-directory: ./Frontend
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp' 
          
      # Deploy to Azure Web apps
      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
          publish-profile: ${{ secrets.PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/Frontend/myapp'
  
  
  function:
    environment: DevWorkshop
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@main
      
      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION_FUNCTION }} 
      
      # Run dotnet build and publish Function
      - name: dotnet build and publish Function
        working-directory: ./Function
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet publish -c Release -o '${{ env.AZURE_FUNCTION_PACKAGE_PATH }}/myfunc' 
          
      # Deploy to Azure Functions
      - name: 'Run Azure Function deploy action using publish profile credentials'
        uses: azure/functions-action@v1
        with: 
          app-name: ${{ env.AZURE_FUNCTION_NAME }} # Replace with your app name
          publish-profile: ${{ secrets.PUBLISH_PROFILE_FUNCTION  }} # Define secret variable in repository settings as per action documentation
          package: '${{ env.AZURE_FUNCTION_PACKAGE_PATH }}/Function/myfunc'
